* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header .container{
  width:100%;
  background-color:lightblue;
  display: table;
  padding: 10px;
}

.logo{
  display: table-cell;
  vertical-align: middle;
}

.submenu1, .submenu2{
  display: none;
}

.enero:hover .submenu1{
 display: block;
}

.febrero:hover .submenu2{
 display: block;
}
