/*Reseteo de cajas*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container{
  margin: auto;
  width: 960px;
}


/*Cabecera*/

.cabecera{
  width: 100%;
  background-color: lightblue;
  display: table;
  height: 150px;
  position: fixed;
}

.logo{
  display: table-cell;
  vertical-align: middle;
  padding: 20px;
  text-align: right;

}

.titulo{
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  font: bold 36px helvetica;
}

nav{
  float:right;
}
nav ul{
  list-style-type: none;
  padding: 10px;
}
ul li{
  display: inline-block;
  margin: 10px;
  padding-top: 10px;
}
a{
  background-color: steelblue;
  color: white;
  text-decoration: none;
  padding: 10px;
}

a:hover{
  color: black;
}




/*Cuerpo*/

.cuerpo{
  padding-top: 150px;

}

section{
  float:left;
  padding-left: 70px;
  width: 700px;
}

aside{
  background-color: GRAY;
  float:left;
  width:260px;
  height: 80px;
  margin: 10px;
}

article{
  background-color: #D8D3B7;
  border: 1px solid black;
  margin-top: 10px;
  padding: 20px;
}

hgroup h1{
  font: bold 24px verdana;
}

hgroup h2{
  font: bold 14px verdana;
}

section footer{
  text-align: right;
  color: blue;
}

aside li{
  display: block;
}

.submenu1, .submenu2{
  display: none;
}

/*Pie*/

footer .pie{
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 40px;
  text-align: center;
}

.pie p{
  padding-top: 10PX;
}
